.toasted-container {
  .toasted {
    border-radius: 0 !important;

    &.primary {
      padding: 1rem;
    }
  }
}

@media only screen and (min-width: 601px) {
  .toasted-container {
    &.bottom-right {
      bottom: 3% !important;
      right: 2% !important;
    }
  }
}
