$card-header-height: 45px;

.card-header {
  height: $card-header-height;

  .dashboard & {
    @extend .shadow-light;
  }
}

.card {
  .dashboard & {
    @extend .is-shadowless;
  }
}

.card-header {
  .card-header-title {
    #show-snippet &:not(.no-wrap) {
      flex-direction: row-reverse;
    }

    &.no-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-direction: row;
    }
  }

  .card-header-icon {
    #snippet-delete {
      margin-left: 0.2rem;
    }
  }

  #show-snippet & {
    justify-content: space-between;
  }
}

.card-description {
  padding: 1rem 0.75em;
}

.card-content {
  padding: 1rem 0.75em;

  &.collapsed {
    // to make collapsed elements compatible with clipboard.js
    // https://github.com/zenorocha/clipboard.js/issues/560#issuecomment-408606225
    opacity: 0;
    position: absolute;
    z-index: -10;

    max-height: 0;
    overflow: hidden;
  }
}

.show-snippet-labels {
  display: flex;
  div {
    background-color:  #4a4a4a;
    color: whitesmoke;
    padding: 0.1rem 0.8rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 13px;
  }
  h4  {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
  }
}

@media screen and (max-width: $phone) {
  .card-header {
    [id^=snippet-file-form-] & {
      height: calc(#{$card-header-height} * 2 + 0.5rem);
      flex-direction: column;

      .field:nth-child(2) {
        width: calc(100% - 6rem)
      }
    }

    .card-header-icon {
      #show-snippet & {
        justify-content: space-between;
      }
    }
  }

  .flex-container {
    [id^=snippet-file-form-] & {
      width: auto;
    }
  }
}
