$card-header-height: 45px;

.card-header {
  height: $card-header-height;
}

.card {
  .dashboard & {
    @extend .is-shadowless;
  }
}

.card-header {
  .card-header-title {
    #show-snippet &:not(.no-wrap) {
      flex-direction: row-reverse;
    }

    &.no-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-direction: row;
    }
  }

  .card-header-icon {
    #snippet-delete {
      margin-left: 0.2rem;
    }
  }

  #show-snippet & {
    justify-content: space-between;
  }
}

.card-content {
  padding: 1rem 0.75em;
}

@media screen and (max-width: $phone-old) {
  .card-header {
    #show-snippet & {
      height: calc(#{$card-header-height} * 2);
      flex-direction: column;
    }

    .card-header-icon {
      #show-snippet & {
        justify-content: space-between;
      }
    }
  }

  .flex-container {
    #show-snippet & {
      width: auto;
    }
  }
}
