$card-header-height: 45px;
$card-border: $border !default;

.card {
  box-shadow: none;
}

.card-header {
  box-shadow: none;
  height:     $card-header-height;

  .card-header-title {
    font-weight: 500;
  }

  .card-header-icon {
    padding: 0.3rem 0.75rem;
  }

  .default & {
    border: 1px solid $card-border;
  }

  .dashboard & {
    background-color: darken(#fff, 1%);
    border-bottom:    1px solid $card-border;
  }
}

.card-content {
  padding: 1rem 0.75em;

  .default & {
    border-left:   1px solid $card-border;
    border-right:  1px solid $card-border;
    border-bottom: 1px solid $card-border;
  }

  .dashboard & {
    height:  calc(100vh - #{$navbar-height} - #{$card-header-height});
  }
}

.card-footer {
  border-left:   1px solid $card-border;
  border-right:  1px solid $card-border;
  border-bottom: 1px solid $card-border;
  border-top:    none;

  .card-footer-item {
    padding: 0.5rem;
  }
}
