.octicon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.icon {
  &.icon-clippy {
    margin-bottom: 1px;
  }
}

.icon-text {
  .search-box & {
    color: $input-icon-color !important;
    padding-bottom: 0.2rem;
  }
}
