<section class="section">
  <div id="page-wrapper" class="animated fadeInUp">
    <div class="container">
      <div class="columns">
        <div class="column is-6-widescreen is-offset-3-widescreen is-10-desktop is-offset-1-desktop">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title"><%= title %></p>
            </header>

            <div class="card-content">
              <%= render_notifications if !flash.empty? %>
              <div class="content">
                <%= yield %>
              </div>
            </div>

            <% unless user_signed_in? %>
              <footer class="card-footer">
                <%= render "devise/shared/links" %>
              </footer>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
