<section class="section">
  <div id="auth-wrapper" class="animated fadeInUp">
    <div class="container is-fluid">

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                Highlighting
              </div>
            </div>
            <div class="card-content">
              Snibox uses <%= link_to "CodeMirror", "https://codemirror.net/", target: "_blank" %> for code editor
              and <%= link_to("highlight.js", "https://highlightjs.org/", target: "_blank") %> to show snippets.
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                Authentication
              </div>
            </div>
            <div class="card-content">
              Snibox is personal private snippets repository and allow access just to first registered user.
              Out of the box you can't register more than one user.
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                Source code
              </div>
            </div>
            <div class="card-content">
              <%= link_to "https://github.com/vavgustov/snibox", "https://github.com/vavgustov/snibox", target: "_blank" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
