<section class="section">
  <div id="page-wrapper" class="animated fadeInUp">
    <div class="container">

      <div class="columns">
        <div class="column is-6-widescreen is-offset-3-widescreen is-10-desktop is-offset-1-desktop">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">Local storage</div>
            </div>
            <div class="card-content">
              <button class="button is-primary" @click="resetLocalStorage()">Reset local storage</button>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-6-widescreen is-offset-3-widescreen is-10-desktop is-offset-1-desktop">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">Source code</div>
            </div>
            <div class="card-content">
              <%= link_to "https://github.com/snibox/snibox", "https://github.com/snibox/snibox", target: "_blank" %>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-6-widescreen is-offset-3-widescreen is-10-desktop is-offset-1-desktop">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">Documentation</div>
            </div>
            <div class="card-content">
              <%= link_to "https://snibox.github.io/docs", "https://snibox.github.io/docs/", target: "_blank" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
