// TODO: refactor this

@import "snibox/variables";
@import "snibox/vendor";
@import "snibox/mixins";

@import "snibox/components/card";
@import "snibox/components/icon";
@import "snibox/components/menu";
@import "snibox/components/nav";
@import "snibox/components/navbar";

@import "snibox/utils/animate";
@import "snibox/utils/codemirror";
@import "snibox/utils/sweetalert2";

html {
  background: $app-background;
}

body {
  &.dashboard {
    display: flex;
    flex-direction: column;
  }
}

html,
body {
  height: 100%;
}

pre {
  @extend .is-paddingless;
  background: none;

  code {
    font-size: $code-font-size;
    white-space: pre-wrap;
  }
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  #show-snippet & {
    width: calc(50% + 64px);

    &.with-markdown {
      width: calc(50% + 32px);
    }
  }
}

.with-text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.menu-label {
    margin-bottom: 0;
  }
}

#app {
  display: flex;
  height: calc(100% - #{$navbar-height});
}

#snippets {
  .menu-form {
    margin-top: 0;
  }
}

#page-wrapper {
  display: none;
  padding-top: 5px;
}

.menu-top {
  @extend .is-marginless;
  background: $white;
  padding: 0.65em 0.75em;
}

.content p:not(:last-child) {
  margin-bottom: 0;
}

.sidebar {
  position: relative;
  width: $sidebar-width;
  z-index: 1;

  .menu-content {
    padding-bottom: 0.65em;
  }
}

.sidebar-snippets {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.main {
  position: relative;
  width: calc(100% - #{$sidebar-width} * 2);
}

.sidebar,
.main {
  background: $white;
  overflow: auto;
  z-index: 1;
}

.form-footer {
  bottom: 0;
  margin-top: 1.5rem;
  display: flex;
}

.level.is-mobile .level-item {
  margin-right: 0;
}

.label-edit-wrapper {
  margin-left: 0.35em;
}

.editor {
  font-size: $code-font-size;
  height: calc(100vh - 271px);
  min-height: 200px;
  border: 1px solid $border-color;
  width: 100%;
}

// responsiveness
@include scale($scale-desktop);

@media (min-width: $widescreen) {
  @include scale($scale-widescreen);
}

@media (min-width: $uhd) {
  @include scale($scale-uhd);
}

// mobile
@media screen and (max-width: $phone-old) {
  .flex-container {
    #show-snippet & {
      width: auto;
    }
  }
}

@media screen and (max-width: $tablet) {
  html,
  body {
    height: auto;
  }

  #app {
    flex-direction: column;
    height: auto;
    margin: 50px 20px 20px;

    &.ready {
      border: none;
    }
  }

  .menu-top {
    width: 100%;
  }

  .sidebar {
    width: auto;
    margin-bottom: 2em;

    .menu-content {
      padding-bottom: 0;
      max-height: calc(300px - #{$menu-top-height});
    }
  }

  .main {
    width: auto;

    .card-content {
      height: auto;
    }
  }

  .main,
  .sidebar {
    .ready & {
      box-shadow: $card-shadow;
    }
  }
}
