// TODO: refactor this

@import "snibox/variables";
@import "snibox/vendor";
@import "snibox/mixins";

@import "snibox/components/card";
@import "snibox/components/editor";
@import "snibox/components/icon";
@import "snibox/components/menu";
@import "snibox/components/nav";
@import "snibox/components/navbar";
@import "snibox/components/panel";

@import "snibox/utils/codemirror";
@import "snibox/utils/sweetalert2";

html {
  background: $app-background;
}

body {
  &.dashboard {
    display: flex;
    flex-direction: column;
  }
}

html,
body {
  height: 100%;
}

em {
  font-size: 12px;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  #show-snippet & {
    width: calc(50% + 64px);

    &.with-markdown {
      width: calc(50% + 32px);
    }
  }
}

.with-text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.menu-label {
    margin-bottom: 0;
  }
}

#app {
  display: flex;
}

#snippets {
  .menu-form {
    margin-top: 0;
  }
}

#auth-wrapper {
  display: none;
  padding-top: 5px;
}

.menu-top {
  background-color: $white;
  margin: 0;
  padding: 0.65em 0.75em;
}

.animated {
  animation-duration: $animation-duration;
}

.content p:not(:last-child) {
  margin-bottom: 0;
}

.sidebar {
  position: relative;
  width: $sidebar-width;
  background-color: $white;

  .menu-content {
    padding-bottom: 0.65em;
    overflow: auto;
    max-height: calc(100vh - #{$navbar-height} - #{$menu-top-height});
  }
}

.sidebar-snippets {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.main {
  position: relative;
  width: calc(100% - #{$sidebar-width} * 2);
}

.form-footer {
  bottom: 0;
  margin-top: 1.5rem;
  display: flex;
}

.level.is-mobile .level-item {
  margin-right: 0;
}

#snippet-form {
  box-shadow: none;
}

.label-edit-wrapper {
  margin-left: 0.35em;
}

// responsiveness
@include scale($scale-desktop);

@media (min-width: $widescreen) {
  @include scale($scale-widescreen);
}

@media (min-width: $uhd) {
  @include scale($scale-uhd);
}

// mobile
@media screen and (max-width: $phone-old) {
  .flex-container {
    #show-snippet & {
      width: auto;
    }
  }
}

@media screen and (max-width: $tablet) {
  html,
  body {
    height: auto;
  }

  .menu-top {
    width: 100%;
  }

  #app {
    flex-direction: column;
    margin: 50px 20px 20px;
    box-shadow: none;
  }

  .sidebar {
    width: auto;
    border: 1px solid $border-color;
    margin-bottom: 2em;

    .menu-content {
      padding-bottom: 0;
      max-height: calc(300px - #{$menu-top-height});
    }
  }

  .main {
    width: auto;
    border: 1px solid $border-color;

    .card-content {
      height: auto;
    }
  }
}
