@import "../../../node_modules/bulma/sass/utilities/initial-variables";

// typography: fonts
$family-monospace: "SFMono-Regular", "Menlo", "Consolas", "Liberation Mono", monospace;
$body-size: 15px;

// typography: colors
$primary: #337ab7;
$green: #4caf50;
$link: $primary;

// component: card
$card-header-background-color: darken(#fff, 1%);
$card-header-weight: 500;

// component: menu
$menu-item-radius: 0;

// component: panel
$panel-heading-radius: 0;

// snibox variables
$app-background: #f5f8fa;
$border-color: #dbdbdb;
$shadow-color: #868686;
$sidebar-width: 200px;

// responsiveness
$phone: 560px;
$desktop: $tablet + 1px;
$uhd: 1536 + (2 * $gap);

$scale-desktop: 1;
$scale-widescreen: 1.2;
$scale-fullhd: 1.4;
$scale-uhd: 1.6;
